:root{
    --bg-color: #D0D3D4;
    --foreground-color: #2F4F4F;
    --red-color: #B22222;
    --red-hover-color: #8B0000;
    --blue-color: #00BFFF;
    --blue-hover-color: #0288D1;
    --green-color: #4CAF50;
    --green-hover-color: #45a049;
    --white-color: #fff;
    --black-color: black;

    --text-family: Roboto;

    --small-marge: 5px;
    --medium-marge: 25px;
    --large-marge: 50px;

    --small-radius: 4px;
    --medium-radius: 6px;
    --large-radius: 10px;

    --size: 14px;
}

body{
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--text-family);

}

/*
Nav
 */

nav {
    display: flex;
    background-color: var(--foreground-color);
    height: 75px;
    align-items: center;
    flex-direction: row;
    border-radius: var(--large-radius);
    padding: 0px var(--medium-marge) 0px var(--medium-marge);
    border: 1px solid black;
    margin: var(--large-marge);
}

#nav_container{
    width: 100%;
    height: 50px;
    display: flex;
}

#left_nav_div{
    display: flex;
}

#right_nav_div{
    display: flex;
    margin-left: auto;
}

#logo_nav_button{
    background-color: var(--blue-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    border-radius: var(--small-radius);
    cursor: pointer;
    border:none;
    outline: none;
    width: 50px;
    margin-right: var(--medium-marge);
}

#logo_nav_button:hover{
    background-color: var(--blue-hover-color);
}

#nav_search{
    display: flex;
}

#input_nav{
    width: 250px;
    border-radius: var(--small-radius) 0px 0px var(--small-radius);
}

#select_nav_div{
    background-color: var(--blue-color);
    color: var(--white-color);
    border:none;
    outline: none;
    border-right: 1px solid black;
    cursor: pointer;
}

#filter_nav:hover{
    background-color: var(--blue-hover-color);

}

#submit_nav_button{
    background-color: var(--blue-color);
    border-radius:  0px var(--small-radius) var(--small-radius) 0px;
}

#submit_nav_button:hover{
    background-color: var(--blue-hover-color);
}

#user_nav_icon{
    margin-right: var(--small-marge);
}

#profil_button_nav{
    background-color: var(--blue-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    border-radius: var(--small-radius);
    cursor: pointer;
    border:none;
    outline: none;
    width: 150px;
    margin-right: var(--medium-marge);
}

#profil_button_nav:hover{
    background-color: var(--blue-hover-color);
}

#disconnection_nav_icon{
    margin-right: var(--small-marge);
}

#disconnect_button{
    background-color: var(--red-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
    padding: var(--size) var(--size);
    border: none;
    border-radius: var(--small-radius);
    cursor: pointer;
    border:none;
    width: 100px;
    outline: none;
}

#disconnect_button:hover{
    background-color: var(--red-hover-color);
}

/*
---------------------------------------------------
 */


input[type=text], input[type=password]{
    width: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: var(--size) var(--size);
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: var(--small-radius);
    box-sizing: border-box;
    border-width:0px;
    border:none;
    outline: none;

}

input[type=submit] {
    width: 100%;
    background-color: var(--green-color);
    color: var(--white-color);
    padding: var(--size) var(--size);
    border: none;
    border-radius: var(--small-radius);
    cursor: pointer;
    border:none;
    outline: none;
}

input[type=submit]:hover {
    background-color: var(--green-hover-color);
}

label{
    color: var(--white-color);
    font-size: 22px;
    padding-bottom: var(--small-marge);
}



