@import "global.css";

nav {
    display: flex;
    background-color: var(--foreground-color);
    align-items: center;
    flex-direction: row;
    border-radius: var(--large-radius);
    padding: var(--medium-marge);
    border: 1px solid black;
    margin: var(--large-marge);
}

#nav_container{
    width: 100%;
    display: flex;
}

#left_nav_div{
    display: flex;
}

#right_nav_div{
    display: flex;
    margin-left: auto;
}