@import "global.css";


/*
Login Page
 */

#main_authentication_container{
    background-color: #2F4F4F;
    border-radius: var(--large-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: var(--large-marge);
}

#label_authentication {
    display: block;
}

#img_authentication_container{
    height: 150px;
    text-align: center;
}
img{
    height: 100%;
}

#error_authentication_container{
    margin: var(--small-marge) 0 var(--small-marge) 0;
    height: 20px;
    display: flex;
    align-items: center;
    color: var(--red-color);
}

.input_authentication_container{
    margin: var(--small-marge) 0 var(--small-marge) 0;
}

#password_authentication_forget{
    text-decoration: none;
    font-weight: bold;
    color: white;

}
